body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}



.modal-lg {
  max-width: 90% ;
}

.cover-picture-wrapper{
  width: 100%;
  /* position: relative; */
  margin: 0 auto;
}

.cover-picture-wrapper::after {
  display: block;
  content: '';
  /* padding-bottom: 23.33%; */
}

.cover-photo{
  /* position: absoulute; */
  top:0;
  left:0;
  width: 100%;
  height: auto;
}

/* IMAGE CROPPER*/
* {
  font-family: sans-serif;
}
#imageCanvas {
  border: 10px solid #111;
  width: 600px;
  height: 600px;
  background: white;
}
#cropCanvas {
  width: 600px;
  height: 600px;
}
#imageCanvas,[class^='canvasScreen'] {
  pointer-events: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.canvasCon {
  position: relative;
  width: 1000px;
  height: 1000px;
  cursor: move;
  float: left;
  
}
.toolbar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  font-size: small;
}
.error {
  color: red;
}
#crop, #reset, .canvasCon, #cropCanvas, .instructions, .error {display: none;}
.cropResult {
  display: none;
  margin: 90px 0 0;
  float: left;
  border: 6px solid #eee;
}
.cropResult img {
  display: block;
  width: 600px;
  height: 600px;
  margin: 4px;
}
[class^='canvasScreen'] {
  position: absolute;
  background: white;
  opacity: 0.9;
}
.canvasScreenTop {
  top: 0;
  left: 0;
  height: 200px;
  right: 0;
}
.canvasScreenBottom {
  bottom: 0;
  left: 0;
  height: 200px;
  right: 0;
}
.canvasScreenLeft {
  top: 200px;
  bottom: 200px;
  left: 0;
  width: 200px;
}
.canvasScreenRight {
  top: 200px;
  bottom: 200px;
  right: 0;
  width: 200px;
}

.clearfix:after {
content: "";
display: table;
clear: both;
}

/* CROPPER JS */
.cover-photo_cropperjs{
  max-width: 100%;
}

.cropper-container {
  width: 100% important;
  position: relative; 
  /* height: 280px !important; */
}

.cropper-container::after {
  display: block;
  content: '';
  /* padding-bottom: 23.33%; */
}

#image{
  position: absoulute;
  top:0;
  left:0;
  width: 100%;
  height: auto;
}

/* .cropper-move{
  width: 1200px !important;
  height: 280px !important;
} */

/* https://github.com/fengyuanchen/cropperjs/tree/master/docs/examples */


.crop-preview {
  overflow: hidden;
  width: 1200px; 
  height: 280px;
}